<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../Content/index.css">
</head>

<body onload="getBlog()">
    <h1>Perficient University</h1>
    <a class="sign-in-link" href="createBlog.html">Sign in</a>
    <div class="grid-menu-bar ">
        <a href="index.html">Home</a>
        <a href="pageNotFound.html">College of Microsoft</a>
        <a href="pageNotFound.html">College of Amazon</a>
        <a href="pageNotFound.html">College of Azure</a>
        <a href="pageNotFound.html">School of AWS</a>
    </div>
    <div>
        <h2>President's Blog</h2>
        <div id="blogPosts" style="width: 85%;">
            <div id="post_0" class="blog-post-container">
                <div class="blog-header">
                    <h3 id="post_0_title" class="blog-title"></h3>
                    <img id="post_0_image" class="blog-image" src=""></img>
                </div>
                <br>
                <div id="post_0_body" class="blog-body"></div>
            </div>
        </div>
    </div>
    <script src="../Scripts/viewBlogController.js"></script>
</body>

</html>